.webstories-bg{
  background-color: #fff;
 height: 226px;
}

.webstories-bg a{
  text-decoration: none;
}

.webstories-bg h4 a{
  padding: 10px 5px;
  background-color:#cd150c;
  width: fit-content;
  border-radius: 5px;
  color:white;
  letter-spacing: 0.12px; 
  font-size: 20px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  }
  .webstories-class{
    margin-top: 50px;
  }